@import "tailwindcss";

body {
  background-image:
    radial-gradient(
      circle at top right,
      rgba(57, 255, 20, 0.08),
      transparent 35%
    );
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #090909;
}

::-webkit-scrollbar-thumb {
  background: #39ff14;
  border-radius: 999px;
}

::selection {
  background: #39ff14;
  color: black;
}